$dot--10: #79EEF9; //green
$dot--20: #FFEA7A; //yellow
$dot--30: #A586FA; //purple
$dot--40: #FC79BE; //pink
$dot--50: #7FC9F9; //blue
$dot--60: #B9FD79; //green
$dot--70: #B383FA; //purple
$dot--80: #FFC47A; //orange
$dot--90: #FF7A7A; //red
$dot--100: #85A8FA; //blue

$btn-start: $dot--60;
$btn-pause: $dot--90;

$slider-track: $dot--70;

$border-light: #DDDDDD;
$border-dark: #8E8E8E;